<ul>
  <li><% link_to "About", about_path %></li>
  <li><% link_to "Contact", contact_path %></li>

  <h1>Welcome#home. This is kind of awesome</h1>
  <p> You can learn more  <%= link_to "about me", about_path %> or link to <%= link_to "contact me", contact_path %></p>
<p>Find me in app/views/welcome/home.html.erb</p>
